.title {
    font-family: Petrona, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #FFF;

    // fallback to smaller font size on very small screens
    //@media screen and (max-width: 370px) {
    //    font-size: 32px;
    //}
}