.outerdiv {
  position: absolute;
  font-weight: 600;
  //width: 272px;
  left: 28px;
  top: 16px;
  display: inline-flex;
  align-items: center;
}

.errorhublogo {
  background-color: transparent;
  height: 56px;
}

.header {
  font-family: 'Saira SemiCondensed', serif;
  font-style: normal;
  font-size: 50px;
  color: #00204A;
}
