.outerdiv {
  position: absolute;
  font-weight: 600;
  //width: 272px;
  left: 28px;
  top: 16px;
  display: inline-flex;
  align-items: center;
}
.errorhublogo {
  background-color: transparent;
  height: 56px;
  //left: 0;
  //position: absolute;
  //top: 16px;
  //width: 59px;
}


.header {
  //position: absolute;
  //width: 204px;
  //height: 79px;
  //left: 68px;
  //top: 0px;

  font-family: 'Saira SemiCondensed', serif;
  font-style: normal;
  //font-weight: 600;
  font-size: 50px;
  //line-height: 79px;
  /* identical to box height */

  color: #00204A;
}